@import url(https://fonts.googleapis.com/css?family=Lato);
@import url(https://fonts.googleapis.com/css?family=Gloria+Hallelujah);
@import url(https://fonts.googleapis.com/css?family=Quicksand:400,300);

$font-family: 'Lato', sans-serif;
$header: 'Gloria Hallelujah', cursive;
$navbar: 'Quicksand', sans-serif;
$lime: #DDE54A;
$deepBlue: #153B64;
$fuschia: #F405F0;
$white: #FFFFFF;

@mixin inputGlobalStyle {
  // height: 40px;
  border-radius: 5px;
  border: 1px solid lightgrey;
  padding: 5px;
  font-family: $navbar;
  font-weight: 300;
  font-size: 18px;
  margin: 5px 2px;
}

html {
  padding: 0px 0px;
  margin: 0px 0px;
}

body {
  font-family: $font-family;
  padding: 0px 0px;
  margin: 0px 0px;
  overflow-y: hidden;
}

header > a {
  margin: 0 0;
  padding: 10 0 20 0;
  background-color: $deepBlue;
  height: 50px;
  font-family: $navbar;
  font-weight: 300;
  font-size: 2.8em;
  text-align: center;
  color: $lime;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 10;
}

a {
  text-decoration: none;
}

input:focus, button:focus {
  outline: none;
}

input {
  height: 40px;
  @include inputGlobalStyle;
}

.main {

  @media only screen and (min-device-width: 420px) and (orientation: landscape) {
    // width: 400px;
    width: 50%;
  }

  width: 90%;
  height: 60%;
  margin: 50px auto;
  margin-top: 120px;
  margin-bottom: 30px;
  position: relative;


  .heading {
    text-align: center;
    font-family: $navbar;
    font-weight: 400;
    font-size: 1.5em;
    line-height: 90%;
  }

  input {
    width: 100%;
  }

  input:focus {
    background-color: $deepBlue;
    color: white;
  }

  input::-webkit-input-placeholder:focus {
    color: white;
  }

  .container {
    width: 300px;
    margin: 10px auto;
    text-align: right;
    font-family: $navbar;
    font-weight: 300;
    font-size: 1.5em;
    height: 70%;
    overflow-y: scroll;
  }

  .tipContainer {
    width: 300px;
    margin: 0 auto;
  }

  .addPerson {
    width: 300px;
    margin: 0 auto;
  }

  .tipTaxForm {
    // width: 100px;
    // margin: 0 auto;
    // // margin-left: 150px;
    // // display: inline;

    // width: 180px;
    width: 100%;
    // float: left;
    // margin-left: 20px;
    margin-bottom: 20px;
  }

  .addContainer {
    @media only screen and (min-device-width: 420px) {
      display: inline-block;
      width: 100%;
    }
    width: 100%;
    margin: 0 auto;
  }

  .addItem {
    clear:both;
    margin: 0px 10px;
  }

  .showTip {
    // @media only screen and (min-device-width: 420px) {
    //   float: right;
    // }
    // margin-right: 20px;
    display: block;
    font-family: $navbar;
    font-size: 1.2em;
  }

  .lowerLabel {
    display: inline;
    margin-right: 5px;
    float: left;
  }

  #addTipTax {
    margin: 7 0;
  }

  // .lowerLabel {
  //   display: inline;
  //   width: 50px;
  //   font-size: 14px; 
    
  //   input {
  //     width: 100%;
  //   }

  //   button {
  //     display: inline;
  //     margin: 0 0;
  //   }

  // }
  span {
    display: block;
    font-family: $navbar;
    font-size: 10px;
    color: lightgrey;
  }

  // #addFriend, #addedUsers {
  button {
    @include inputGlobalStyle;
    width: 120px;
    height: 35px;
    display: inline-block;
    align: center;
    background-color: $lime;
    border: 1px solid $lime;
    margin: 15px auto 0 auto;
  }


  button:hover {
    background-color: $deepBlue;
    color: white;
  }

  .clearfix {
    clear:both;
  }

  // #viewTotals {
  //   margin-left: 20px;
  // }

  table {
    margin: 0 auto;
    font-family: $navbar;
  }
  thead{
    font-weight: 400;
  }
  td {
    width: 100px;
  }
  tr {
    padding: 10px 0px;
  }
  tr:hover {
    color: $fuschia;
    font-weight: 400;
  }
  tr:last-child:hover, thead > tr:hover {
    color: black;
  }
}

img {
  display: none;
}

.item > div {
  display: inline-block;
}

#tip, #tax {
  width: 80px;
  @include inputGlobalStyle;
}

#quantity {
  @media only screen and (min-device-width: 420px) {
    display: inline-block;
    width: 15%;
    // width: 55px;
  }
  display: block;
  width: 55px;
}

#description {
  @media only screen and (min-device-width: 420px) {
    display: inline-block;
    width: 55%;
    // width: 230px;
  }
  display: block;
  width: 70%;
  @include inputGlobalStyle;
}

#price {
  @media only screen and (min-device-width: 420px) {
    display: inline-block;
    width: 20%;
    // width: 70px;
  }
  display: block;
  width: 60%;
  @include inputGlobalStyle;
}

// form {
//   margin-bottom: 20px;
// }

// button {
//   @include inputGlobalStyle;
// }

// div {
//   font-size: 26px;
// }

// .container {
//   margin: 10px auto;
//   text-align: right;
//   font-family: $navbar;
//   font-weight: 300;
// }

.selected {
  color: $fuschia;
  font-weight: 400;
}

div:hover {
  cursor: pointer;
}

.selectSplitters {
  width: 300px;
  height: 200px;
  margin: 0px auto;
  z-index: 2;
  border-radius: 10px;
  background-color: white;
  position: fixed;
  top: 20%;
  padding: 40px;
  border: 1px solid $lime;
  overflow-y: scroll;
  overflow-x: hidden;
  font-family: $navbar;
  font-size: 1.2em;
}

#backToTotals {
  width: 60px;
}

// #tip, #tax {
//   display: block;
// }

// #tip, #tax, #price {
//   width: 60px;
// }