@import url(https://fonts.googleapis.com/css?family=Lato);
@import url(https://fonts.googleapis.com/css?family=Gloria+Hallelujah);
@import url(https://fonts.googleapis.com/css?family=Quicksand:400,300);

$font-family: 'Lato', sans-serif;
$header: 'Gloria Hallelujah', cursive;
$navbar: 'Quicksand', sans-serif;
$lime: #DDE54A;
$deepBlue: #153B64;
$fuschia: #F405F0;
$white: #FFFFFF;

@mixin inputGlobalStyle {
  height: 30px;
  border-radius: 5px;
  border: 1px solid lightgrey;
  padding: 5px;
  font-family: $navbar;
  font-weight: 300;
  font-size: 12px;
  margin: 5px 2px;
}

html {
  padding: 0px 0px;
  margin: 0px 0px;
}

body {
  font-family: $font-family;
  padding: 0px 0px;
  margin: 0px 0px;
  overflow-y: hidden;
}

header {
  margin: 0 0;
  padding: 0 0;
  background-color: $deepBlue;
  height: 40px;
  font-family: $navbar;
  font-weight: 300;
  font-size: 1.7em;
  vertical-align: center;
  text-align: center;
  color: $lime;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 10;
}

.main {
  
  // @media screen and (min-width: 400px){
  //   width: 600px;
  //   margin: 50px auto 0 auto;
  //   // border: 2px solid $lime;
  //   border-radius: 10px;
  // }

  width: 300px;
  height: 60%;
  margin: 50px auto;
  margin-top: 90px;
  margin-bottom: 30px;
  position: relative;


  .heading {
    text-align: center;
    font-family: $navbar;
    font-weight: 300;
    font-size: .8em;
    line-height: 90%;
  }

  .container {
    width: 300px;
    margin: 10px auto;
    text-align: right;
    font-family: $navbar;
    font-weight: 300;
    height: 70%;
    overflow-y: scroll;
  }

  .tipContainer {
    width: 300px;
    margin: 0 auto;
  }

  .addPerson {
    width: 300px;
    margin: 0 auto;
  }

  .tipTaxForm {
    width: 100px;
    margin: 0 auto;
    margin-left: 150px;
    display: inline;
    float: left;
  }

  .addContainer {
    width: 500px;
    margin: 0 auto;
  }

  .addItem {
    clear:both;
    padding-top: 50px;
  }

  .showTip {
    float: right;
    margin-right: 200px;
    display: inline;
    font-size: 16px;
  }

  .lowerLabel {
    display: inline;
    font-size: 14px; 

    span {
      display: block;
      font-size: 10px;
      color: lightgrey;
    }

    button {
      display: inline;
      margin: 0 0;
    }

  }

  #addFriend, #addedUsers {
    width: 90px;
    margin: 0 0;
    padding: 0 0;
    @include inputGlobalStyle;
  }

  input {
    width: 100%;
  }

  input:focus {
    background-color: $deepBlue;
    color: white;
  }

  input::-webkit-input-placeholder:focus {
    color: white;
  }


  button:hover {
    background-color: $deepBlue;
    color: white;
  }

  // #addFriend, #addedUsers, #viewTotals {
  //   width: 100px;
  //   display: inline-block;
  // }


  table {
    margin: 0 auto;
  }
  thead{
    font-weight: bold;
  }
  td {
    width: 100px;
  }
}

button {
  background-color: $lime;
  border: 1px solid $lime;
  width: 70px;
  margin: 15px auto 0 auto;
}

// img {
//   display: none;
// }

input:focus, button:focus {
  outline: none;
}

input {
  @include inputGlobalStyle;
}

// .item > div {
//   display: inline-block;
// }

// #quantity, #tip, #tax {
//   width: 70px;
//   @include inputGlobalStyle;
// }

// #description {
//   width: 300px;
//   @include inputGlobalStyle;
// }

// #price {
//   width: 70px;
//   @include inputGlobalStyle;
// }

// form {
//   margin-bottom: 20px;
// }

// button {
//   @include inputGlobalStyle;
// }

// div {
//   font-size: 26px;
// }

// .container {
//   margin: 10px auto;
//   text-align: right;
//   font-family: $navbar;
//   font-weight: 300;
// }

// .selected {
//   background-color: $fuschia;
//   color: $lime;
// }

// div:hover {
//   cursor: pointer;
// }

// .selectSplitters {
//   width: 300px;
//   height: 200px;
//   z-index: 2;
//   border-radius: 10px;
//   background-color: white;
//   position: fixed;
//   top: 150px;
//   left: 450px;
//   padding: 40px;
//   border: 1px solid $lime;
//   overflow-y: scroll;
//   overflow-x: hidden;
// }

// #tip, #tax {
//   display: block;
// }

// #tip, #tax, #price {
//   width: 60px;
// }