<h1>Insert Receipt Items</h1>
<form>
  <input id="tip" placeholder="tip % (e.g. 15, 18, 20)" ng-model="bill.tip"></input>
  <input id="tax" placeholder="tax (e.g. 6.50)" ng-model="bill.tax"></input>
  <button ng-click="calculateTipTax(bill)">Submit</button>
</form>
<form>
  <input id="quantity" placeholder="qty" ng-model="item.quantity"> x</input>
  <input id="description" placeholder="description" ng-model="item.description"></input>
  <input id="price" placeholder="price" ng-model="item.price"></input>
  <button ng-click="addItem(item)">Submit</button>
</form>

<div class="container">
  <div class="item" ng-repeat="item in items | orderBy: 'item.price'" ng-click="clickChecker()" ng-class="item.selected">
    <div class="quantity">{{ item.quantity }}</div>
    <div class="description">{{ item.description }}</div>
    <div class="price">{{ item.price }}</div>
  </div>
</div>

<div class="selectSplitters" ng-if="toggle % 2 === 0">
  <div ng-repeat="person in splitters" ng-click="addPerson()" ng-class="person.selected">{{ person.name }}</div>
  <button ng-click="assignPerson()">Split</button>
</div>

<button ng-click="viewTotals()">View Totals</button>