@import url(https://fonts.googleapis.com/css?family=Quicksand:400,300);

$navbar: 'Quicksand', sans-serif;
$lime: #DDE54A;
$deepBlue: #153B64;
$fuschia: #F405F0;
$white: #FFFFFF;

@mixin inputGlobalStyle {
  // height: 40px;
  border-radius: 5px;
  border: 1px solid lightgrey;
  padding: 5px;
  font-family: $navbar;
  font-weight: 300;
  font-size: 18px;
  margin: 5px 2px;
}

@mixin circleDiv {
  border-radius: 50%;
  border: none;
  position: fixed;
}

html {
  padding: 0px 0px;
  margin: 0px 0px;
}

body {
  font-family: $navbar;
  padding: 0px 0px;
  margin: 0px 0px;
  overflow-y: hidden;
}

header > a {
  margin: 0 0;
  padding: 10 0 20 0;
  background-color: $deepBlue;
  height: 70px;
  font-family: $navbar;
  font-weight: 300;
  font-size: 2.8em;
  text-align: center;
  color: $lime;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 10;
}

a, a:hover, a:focus {
  text-decoration: none;
  color: $lime;
}

input:focus, button:focus {
  outline: none;
}

input {
  height: 40px;
  @include inputGlobalStyle;
}

.main {

  @media only screen and (min-width: 420px) and (orientation: landscape) {
    // width: 400px;
    width: 50%;
  }

  width: 90%;
  height: 60%;
  margin: 50px auto;
  margin-top: 120px;
  margin-bottom: 30px;
  position: relative;


  .heading {
    text-align: center;
    font-family: $navbar;
    font-weight: 400;
    font-size: 1.5em;
    line-height: 90%;
  }

  input {
    width: 100%;
  }

  input:focus {
    background-color: $deepBlue;
    color: white;
  }

  input::-webkit-input-placeholder:focus {
    color: white;
  }

  .container {
    width: 300px;
    margin: 20px auto;
    text-align: left;
    font-family: $navbar;
    font-weight: 300;
    font-size: 1.5em;
    height: 70%;
    overflow-y: scroll;
  }

  .tipContainer {
    width: 300px;
    margin: 0 auto;
  }

  .addPerson {
    width: 300px;
    margin: 0 auto;
  }

  .tipTaxForm {
    width: 100%;
    margin-bottom: 20px;
  }

  .addContainer {
    @media only screen and (min-width: 420px) {
      // display: inline-block;
      display: flex;
      justify-content: space-between;
      width: 100%;
    }
    width: 100%;
    margin: 30px auto;
  }

  .addItem {
    clear:both;
    margin: 0px 10px;
  }

  .showTip {
    display: block;
    font-family: $navbar;
    font-size: 1.2em;
  }

  .lowerLabel {
    display: inline;
    margin-right: 5px;
    float: left;
  }

  #addTipTax {
    margin: 7 0;
  }

  .clearfix {
    clear:both;
  }

  table {
    margin: 0 auto;
    font-family: $navbar;
  }
  thead{
    font-weight: 400;
  }
  td {
    width: 100px;
  }
  tr {
    padding: 10px 0px;
  }
  tr:hover {
    color: $fuschia;
    font-weight: 400;
  }
  tr:last-child:hover, thead > tr:hover {
    color: black;
  }

  .item {
    display: block;
    width: 100%;
    position: relative;
  }
} //main

.showInputs {
  width: 100%;
  margin: 20px auto;
  display: block;
}

button {
  @include inputGlobalStyle;
  width: 120px;
  height: 40px;
  display: inline-block;
  align: center;
  background-color: $lime;
  border: 1px solid $lime;
  margin: 15px auto 0 auto;
}

button:hover, #addFriend:hover, #addToBill:hover {
  background-color: $deepBlue;
  color: white;
}

button:hover span {
  color: $lime;
}

img {
  display: none;
}

#tip, #tax {
  width: 80px;
  @include inputGlobalStyle;
}

#quantity {
  @media only screen and (min-width: 420px) {
    display: inline-block;
    width: 15%;
    // width: 55px;
  }
  display: block;
  width: 30%;
  margin: 10px auto;
}

#description {
  @media only screen and (min-width: 420px) {
    display: inline-block;
    width: 55%;
    // width: 230px;
  }
  display: block;
  width: 70%;
  @include inputGlobalStyle;
  margin: 10px auto;
}

#price {
  @media only screen and (min-width: 420px) {
    display: inline-block;
    width: 20%;
    // width: 70px;
  }
  display: block;
  width: 50%;
  @include inputGlobalStyle;
  margin: 10px auto;
}

.selected {
  background-color: $deepBlue;
  color: $lime;
  font-weight: 400;
}

.overlayNotification {
  @media only screen and (min-width: 420px) {
    top: 20%;
  }
  width: 100%;
  height: 100%;
  z-index: 15;
  position: relative;
  top: 0;
  left: 0;
}

.selectSplitters {  
  @media only screen and (min-width: 600px) {
    width: 80%;
    height: 70%;
    top: 20%;
    border-radius: 10px;
  }
  @media only screen and (min-width: 700px) {
    width: 40%;
    height: 70%;
    top: 20%;
    border-radius: 10px;
  }
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0px auto;
  background-color: white;
  border: 1px solid $lime;
  font-family: $navbar;
  font-size: 1.2em;
}

.splitters {
  position: relative;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}

.assignedPerson {
  @media only screen and (min-width: 420px) {
    font-size: 1em;
    padding: 15px 25px;
  }
  position: relative;
  padding: 20px 30px;
  font-size: 1.1em;
  border-bottom: 1px solid $lime;
}

.fa-plus {
  position: absolute;
  right: 20px;
  top: 20px;
}

.fa-check-circle-o {
  position: absolute;
  top: 10px;
  left: 10px;
  color: grey;
}

.assignedSplitters {
  color: $fuschia;  
}

.paddedBottom {
  height: 60px;
}


#assignBtn {
  width: 100%;
  height: 60px;
  bottom: 0px;
  border-radius: 0;
  border: none;
  margin: 0 0; 
  z-index: 2;
  position: absolute;
}

#overlayHeading {
  @media only screen and (min-width: 420px) {
    font-size: 1em;
    font-weight: 400;
  }
  position: relative;
  text-align: center;
  padding: 10px 20px;
  font-size: 1.2em;
  margin: 0 0;
  border-bottom: 1px solid $lime;
}

#backToTotals {
  width: 50px;
}

.bottomBtn {
  @media only screen and (min-width: 420px) {
    @include inputGlobalStyle;
    width: 100%;
    height: 40px;
    display: inline-block;
    align: center;
    background-color: $lime;
    border: 1px solid $lime;
    margin: 15px auto 0 auto;
    position: relative;
  }
  width: 100%;
  height: 60px;
  bottom: 0px;
  left: 0px;
  border-radius: 0;
  margin: 0 0; 
  z-index: 2;
  position: fixed;
}

#addFriend, #addToBill {
  @media only screen and (min-width: 420px) {
    @include inputGlobalStyle;
    width: 100%;
    height: 40px;
    display: inline-block;
    align: center;
    background-color: $lime;
    border: 1px solid $lime;
    margin: 15px auto 0 auto;
  }
  display: block;
  width: 60%;
  margin: 15px auto 0 auto; 
}

.fa-times {
  position: absolute;
  top: 13px;
  right: 10px;
  color: lightgrey;
}

// STYLING ABOUT PAGE
#bubbleBlue {
  @include circleDiv;
  background-color: $deepBlue;
  left: -10px;
  width: 250px;
  height: 250px;
}

#bubbleGreen {
  @include circleDiv;
  background-color: $lime;
  left: 100px;
  top: 70px;
  width: 280px;
  height: 280px;
  z-index: 15;
}
