<div class="main">
  <form class="addItem" validate>
    <p class="heading">What did you eat?</p>
    <div class="addContainer">
      <input id="quantity" type="number" placeholder="qty" ng-model="item.quantity"> x</input>
      <input id="description" placeholder="description" ng-model="item.description"></input>
      <input id="price" type="number" placeholder="price" ng-model="item.price"></input>
    </div>
    <button id="addToBill" ng-click="addItem(item)">Add Item</button>
    <button class="bottomBtn" id="splitBill" ng-click="splitBill()">Split Items</button>
    <!-- <button id="finishBill" ng-click="finishBill()">Tip + Tax</button> -->
  </form>

  <div class="container">
    <!-- <div class="item" ng-repeat="item in items | orderBy: 'item.price'" ng-click="clickChecker()" ng-class="item.selected"> -->
    <div class="item" ng-repeat="item in items | orderBy: 'item.price'">
      {{ item.quantity }} x {{ item.description }} - ${{ item.price }}
    </div>
  </div>

<!--   <div class="selectSplitters" ng-if="toggle % 2 === 0">
    <div ng-repeat="person in splitters" ng-click="addPerson()" ng-class="person.selected">
      {{ person.name }}
    </div>
    <button ng-click="assignPerson()">Split</button>
  </div> -->
  
</div>